.root {
    --primary: #c87f01;
    --bg: #000000;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #000000;
    color: white;
    min-height: 2000px;
   
}

/* Navbar */
.makanan img {
    max-width: 100%; /* Membatasi ukuran gambar agar tidak lebih besar dari wadahnya */
    height: auto; /* Menjaga proporsi gambar */
    border-radius: 10px;
}
.makanan




/* media queriies */


/* laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }  
}

/* tablet */
@media (max-width: 758px) {
    html {
        font-size: 62.5%;
    }
    #humberger-menu {
        display: inline-block
    }
    .navbar .foto-logo {
        position: absolute;
    }
    .navbar .navbar-nav{
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: white;
        width: 30rem;
        height: 100vh;
        transition: 0.2s;
    }
    .navbar .navbar-nav.active {
        right: 0;
    }
    .navbar .navbar-nav a {
        color: black;
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }
    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }
    .navbar .navbar-nav a:hover:after {
        transform: scaleX(0.2)
    }
.about .row {
    flex-wrap: wrap;
}
.logo img {
    width: 150px;
}
.ig-png img {
    width: 100px;
}
.layanan-kami .row {
    width: 10px;
}
}

/* mobile */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
    .img {
        width: 50%;
    }
}